

:root {
    --color-text-white: #FFFFFF;
    --color-red: #FF6565;
    --color-text-black: #071629;
    --color-background-white: #F2F2F2
}

*,*::before,*::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: source sans pro, sans-serif;
    background-image: url('./Assets/headphones_hero_1.jpg');
    height: 800px;
}


h1 {
    font-size: 32px;
}

h2 {
    font: 46px;
    color: var(--color-text-white);
    font-weight: bold;
}

h3 {
    font: 18px;
    color: var(--color-text-black);
    font-weight: semibold;
}

h4 {
    font: 16px;
    color: var(--color-text-white);
    font-weight: bold;
}

h5 {
    font: 14px;
}

h6 {
    font: 12px;
    color: var(--color-text-white);
}

p {
    font: 16px;
}

a {
    font: 12px;
    color: var(--color-text-white);
    font-weight: bold;
}

a:hover,
a:active {
    color: var(--color-red);
}

img {
    max-width: 100%;
    object-fit: cover;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 15px;
    font-weight: 600;
    background: var(--color-red);
    color: var(--color-text-white);
    padding: 15px 30px;
    border: 2px solid transparent;
    border-radius: 30px;
}

.btn:hover,
.btn:active {
    opacity: 0.7;
}


header {
    position: relative;
    width: 100%;
}

.menu {
    z-index: 1;
}

.hamburger {
    position: relative;
    width: 20px;
    height: 5px;
    background-color: var(--color-text-white);
    cursor: pointer;
    border-radius: 10px;
    z-index: 2;
}

.hamburger::after,
.hamburger::before {
    content: "";
    left: 0;
    background: var(--color-text-white);
    border-radius: 10px;
    position: absolute;
    height: 5px;
   
}

.hamburger::before {
    top: -8px;
    width: 25px;
}

.hamburger::after {
    top: 8px;
    width: 25px;
}

.toggle-menu {
    position: absolute;
    width: 25px;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 3;
}

.hamburger,
.toggle-menu {
    display: none;
}

.navigation input:checked~.hamburger {
    background: transparent;
}

.navigation input:checked~.hamburger::before {
    top: 0;
    transform: rotate(-45deg);
    width: 25px;
}

.navigation input:checked~.hamburger::after {
    top: 0;
    transform: rotate(45deg);
    width: 25px;
}

.navigation input:checked~.menu {
    left: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    height: 62px;
    margin: 29px auto;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu li {
    padding-right: 41px;
}

.menu li:nth-child(3) {
    padding-right: 0;
}

nav .logo {
    width: 161px;
    height: 32px;
}


.landing {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 630px;
    height: 315px;
    margin: 315px 185px 120px 180px;

}

.landing h1 {
    color: var(--color-text-white);
    font-weight: bold;
    padding: 10px 0;
}

.landing p {
    color: var(--color-text-white);
}

.landing button {
    margin: 40px 220px 65px;
}



@media screen and (max-width: 480px) {

    body {
        height: 850px;
    }

    .hamburger,
    .toggle-menu {
        display: block;
    }

    .menu {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: fixed; 
        width: 300px;
        height: 300px;
        top: 70px;
        left: -300px;
        background: transparent;
        margin: 10px auto 30px;
        transition: 0.3s ease-out;
    }

    .menu li {
        padding: 20px 100px;
    }

    .menu li:nth-child(3) {
        padding-right: 100px;
    }

    nav {
        flex-direction: row-reverse;
        margin-left: 20px;
    }

    body {
        background-position: center;
    }

    .landing {
        max-width: 355px;
        height: 435px;
        margin: 265px auto 105px;
    }

    .landing h4 {
        padding: 0 50px;
    }

    .landing p {
        padding: 10px 10px;
    }

    nav .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .landing button {
        margin: 40px 70px 65px 70px;
    }
}

@media screen and (max-width: 768px) {

    nav {
        margin: 30px 70px 0 65px;

    }

    .landing {
        margin: 310px 65px 115px 65px;
    }

    body {
        background-position: center;
    }
}
